
<div class="row">
<% @products.each do |product| %>
  <div class="col-md-4">
    <div class="well thumbnail index-list">
    <h2><%= link_to product.name, "/products/#{product.id}"%> </h2>
    <h2><%= number_to_currency(product.price) %></h2>
    <% if product.in_stock? %>
    <h2>In stock</h2>
    <% else %>
    <h2>Out of Stock</h2>
    <% end %>
    <% image = Image.find_by(product_id: product.id) %>
    <a href="/products/<%= product.id%>">
        <img src = <%= image.url %> alt = <%= product.name %>>
    </a>
    <h2><%= product.description %></h2>
    </div>
  </div>
<%end%>
</div>
