<h1>Add Inventory</h1>

<%= form_tag '/products', method: :post do %>
  <div class = "form-group">
    <%= label_tag :name, 'Enter name'%>
    <%= text_field_tag :name%>
  </div>
  <div class = "form-group">
    <%= label_tag :price, 'Enter price'%>
    <%= text_field_tag :price%>
  </div>
  <div class = "form-group">
    <%= label_tag :image, 'Image'%>
    <%= text_field_tag :image%>
  </div>
   <div class = "form-group">
    <%= label_tag :image_2, 'Image'%>
    <%= text_field_tag :image_2%>
  </div>
  <div class = "form-group">
    <%= label_tag :description, 'Enter description'%>
    <%= text_field_tag :description%>
  </div>
  <div class = "form-group">
    <%= label_tag :in_stock, 'In Stock?'%>
    <%= text_field_tag :in_stock%>
  </div>
  <div>
    <%= label_tag :supplier_id, 'Supplier' %>
    <%= collection_select :supplier, :supplier_id, Supplier.all, :id, :name %>
  </div>
  <div>
    <%= submit_tag 'Submit' %>
  </div>

<% end %>