<h1>Add Inventory</h1>

<%= form_tag '/products', method: :post do %>
  <div class = "form-group">
    <%= label_tag :name, 'Enter name'%>
    <%= text_field_tag :name%>
  </div>
  <div class = "form-group">
    <%= label_tag :price, 'Enter price'%>
    <%= text_field_tag :price%>
  </div>
  <div class = "form-group">
    <%= label_tag :image, 'Enter image'%>
    <%= text_field_tag :image%>
  </div>
  <div class = "form-group">
    <%= label_tag :description, 'Enter description'%>
    <%= text_field_tag :description%>
  </div>
  <div class = "form-group">
    <%= label_tag :in_stock, 'In Stock?'%>
    <%= text_field_tag :in_stock%>
  </div>
  <div>
    <%= submit_tag 'Submit' %>
  </div>

<% end %>