<h2><%= @product.name %></h2>
<% if @product.discounted? %>
  <h3>Discount Item!</h3>
<% else %>
  <h3>For Sale!</h3>
<% end %>
<h2 class = <%= "discount-price" if @product.discounted? %>><%= number_to_currency(@product.price) %></h2>
<h3><%= number_to_currency(@product.tax) %> tax</h3>
<h3><%= number_to_currency(@product.total) %> total</h3>
<img src = <%=@product.image %>>
<h2><%= @product.description %></h2>

<%= link_to 'Edit', "/products/#{@product.id}/edit" %>
<br>
<%= link_to 'Delete', "/products/#{@product.id}", method: :delete %>