<h2><%= @product.name %></h2>
<% if @product.discounted? %>
  <h3>Discount Item!</h3>
<% else %>
  <h3>For Sale!</h3>
<% end %>
<% if @product.in_stock? %>
<h2>In stock</h2>
<% else %>
<h2>Out of Stock</h2>
<% end %>
<h2 class = <%= "discount-price" if @product.discounted? %>><%= number_to_currency(@product.price) %></h2>
<h3><%= number_to_currency(@product.tax) %> tax</h3>
<h3><%= number_to_currency(@product.total) %> total</h3>
<% @product.images.each do |image_object| %>
  <img src="<%= image_object.url %>" alt = "<%= @product.name %>" class="img-responsive" >
  <br>
<% end %>
<h2><%= @product.description %></h2>
<ul><h2>Categories:</h2>

<% @categories.each do |category|%>
  <li><a href= "/products?category=<%= category.name %>"><%= category.name %></li>
<% end %>
</ul>

<%= link_to 'Edit', "/products/#{@product.id}/edit" %>
<br>
<%= link_to 'Delete', "/products/#{@product.id}", method: :delete %>
<p>Supplier: <%= @supplier %></p>

<%= form_tag '/orders', method: :post do %>
    <%= label_tag :quantity %>
    <%= text_field_tag :quantity %>
    <%= hidden_field_tag :product_id, @product.id %>
  <%= submit_tag "Buy Now" %>
<% end  %>